# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=klettres -caption "%c" %i %m  
Icon=klettres.png
DocPath=klettres/index.html
Terminal=0
Name=KLettres
Comment=Alphabet Tutor
