# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=klettres -caption "%c" %i
Icon=klettres
DocPath=klettres/index.html
Comment=a KDE program to learn the alphabet
Comment[x-test]=xxa KDE program to learn the alphabetxx
Terminal=false
Name=KLettres
Name[x-test]=xxKLettresxx
GenericName=Learn Alphabet
GenericName[fr]=Apprentissage de l'alphabet
GenericName[x-test]=xxLearn Alphabetxx
Categories=Qt;KDE;Education;X-KDE-Edu-Language;
