# KDE Config File  
[Desktop Entry]
Type=Application
Exec=klettres -caption "%c" %i %m  
Icon=klettres.png
MiniIcon=klettres.png
DocPath=klettres/index.html
Comment=
Comment[xx]=xxxx
Terminal=0
Name=KLettres
GenericName=Learn Alphabet
Name[af]=Kletters
Name[ar]=الاحرف ك
Name[hr]=Slova
Name[pt_BR]=Letras
Name[sr]=Klettres
Name[sv]=Klettres
Name[tr]=Harfler
Name[ven]=Lunwalo lwa K
Name[xx]=xxKLettresxx
Name[zh_TW]=KLetters
Name[zu]=IKLettres
Categories=Qt;KDE;Education;X-KDE-Edu-Language
