<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="klettres" version="1">
<MenuBar>
	<Menu name="file" noMerge="1"><text>&amp;File</text>
		<Action name="file_quit"/>
	</Menu>
	 <Menu name="settings"><text>&amp;Settings</text>
	 <Action name="menubar" />
     <Separator/>
     <Action name="levels" />
	 <Action name="languages" />
	 <Action name="look_feel" />
	</Menu>
</MenuBar>
<ToolBar name="mainToolBar" noMerge="1"><Text>Main</Text>
	<Action name="file_quit"/>
    <Separator/>
    <Action name="help_contents"/>
  </Menu>
</ToolBar>
</kpartgui>
