# KDE Config File
[Desktop Entry]
Type=Application
Exec=klettres -caption "%c" %i
Icon=klettres
X-DocPath=klettres/index.html
Comment=a KDE program to learn the alphabet
Comment[bg]=Учене на азбуката
Comment[ca]=Un programa del KDE per aprendre l'alfabet
Comment[de]=Ein KDE-Programm zum Erlernen des Alphabets
Comment[el]=Μία εφαρμογή του KDE για την εκμάθηση του αλφάβητου
Comment[eo]=KDE programo por lerni la alfabeton
Comment[es]=Un programa de KDE para aprender el alfabeto
Comment[et]=KDE tähestiku omandamise programm
Comment[fa]=یک برنامۀ KDE برای یادگیری الفبا
Comment[fr]=Un programme KDE pour apprendre l'alphabet
Comment[ga]=Clár KDE chun an aibítir a fhoghlaim
Comment[it]=Un programma KDE per imparare l'alfabeto
Comment[ja]=アルファベットを学習するための KDE プログラム
Comment[ko]=알파벳 공부를 위한 KDE 프로그램
Comment[nb]=Et KDE-program for å lære alfabetet
Comment[ne]=वर्ण सिक्नका लागि केडीई कार्यक्रम
Comment[nl]=Een KDE-programma waarmee het alfabet geleerd kan worden
Comment[nn]=Eit KDE-program for å læra alfabetet
Comment[pl]=Program do nauki alfabetu dla KDE
Comment[pt]=Um programa do KDE para aprender o alfabeto
Comment[pt_BR]=um programa do KDE para aprender o alfabeto
Comment[sl]=Program za učenje abecede
Comment[sv]=Ett KDE program för att lära sig alfabetet
Comment[x-test]=xxa KDE program to learn the alphabetxx
Comment[zh_CN]=帮助学习字母表的 KDE 程序
Comment[zh_TW]= 學習字母的 KDE 程式
Terminal=false
Name=KLettres
Name[af]=K-letters
Name[bn]=কে-লেটার্স
Name[hr]=KSlova
Name[ne]=केडीई अक्षर
Name[pa]=ਕੇ-ਅੱਖਰ
Name[pt_BR]=Letras
Name[sr]=Klettres
Name[sr@latin]=Klettres
Name[sv]=Klettres
Name[ta]=கே
Name[tr]=Harfler
Name[vi]=Chữ cái K
Name[x-test]=xxKLettresxx
Name[zh_TW]=KLetters
GenericName=Learn The Alphabet
GenericName[ca]=Apreneu l'alfabet
GenericName[de]=Lerne das Alphabet
GenericName[el]=Εκμάθηση του αλφάβητου
GenericName[eo]=Lernu la alfabeton
GenericName[es]=Aprender el alfabeto
GenericName[et]=Tähestiku õppimine
GenericName[fr]=Apprentissage de l'alphabet
GenericName[ga]=Foghlaim an Aibítir
GenericName[it]=Impara l'alfabeto
GenericName[ja]=アルファベットの学習
GenericName[ko]=알파벳 익히기
GenericName[nl]=Leer het alfabet
GenericName[pl]=Nauka alfabetu
GenericName[pt]=Aprender o Alfabeto
GenericName[pt_BR]=Aprender o Alfabeto
GenericName[sl]=Učenje abecede
GenericName[sv]=Inlärning av alfabetet
GenericName[x-test]=xxLearn The Alphabetxx
GenericName[zh_CN]=学习字母
GenericName[zh_TW]=學習字母
Categories=Qt;KDE;Education;Languages;
