# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=klettres -caption "%c" %i
Icon=klettres
DocPath=klettres/index.html
Comment=a KDE program to learn the alphabet
Comment[el]=Μία εφαρμογή του KDE για την εκμάθηση του αλφάβητου
Comment[es]=Un programa de KDE para aprender el alfabeto
Comment[fa]=یک برنامۀ KDE برای یادگیری الفبا
Comment[ga]=Clár KDE chun an aibítir a fhoghlaim
Comment[it]=Un programma KDE per imparare l'alfabeto
Comment[ja]=アルファベットを学習するための KDE プログラム
Comment[pt]=Um programa do KDE para aprender o alfabeto
Comment[pt_BR]=Um programa do KDE para aprender o alfabeto
Comment[sv]=Ett KDE program för att lära sig alfabetet
Comment[x-test]=xxa KDE program to learn the alphabetxx
Comment[zh_TW]= 學習字母的 KDE 程式
Terminal=false
Name=KLettres
Name[af]=K-letters
Name[hr]=KSlova
Name[ne]=केडीई अक्षर
Name[pa]=ਕੇ-ਅੱਖਰ
Name[pt_BR]=Letras
Name[sr]=Klettres
Name[sr@latin]=Klettres
Name[sv]=Klettres
Name[ta]=கே
Name[tr]=Harfler
Name[x-test]=xxKLettresxx
Name[zh_TW]=KLetters
GenericName=Learn Alphabet
GenericName[af]=Leer die  Alfabet
GenericName[be]=Вывучэнне алфавіту
GenericName[br]=Deskiñ an alfabet
GenericName[ca]=Aprenent l'alfabet
GenericName[cs]=Výuka abecedy
GenericName[cy]=Dysgu'r Wyddor
GenericName[da]=Lær alfabetet
GenericName[de]=Lerne das Alphabet
GenericName[el]=Εκμάθηση αλφάβητου
GenericName[es]=Aprender el alfabeto
GenericName[et]=Tähestiku õppimine
GenericName[eu]=Ikasi alfabetoa
GenericName[fa]=یادگیری الفبا
GenericName[fi]=Opettele aakkosia
GenericName[fr]=Apprentissage de l'alphabet
GenericName[ga]=Foghlaim an Aibítir
GenericName[gl]=Aprender o alfabeto
GenericName[he]=למידת האלפבית
GenericName[hr]=Učite abecedu
GenericName[hu]=Ábécétanító
GenericName[is]=Læra stafrófið
GenericName[it]=Impara l'alfabeto
GenericName[ja]=アルファベットの学習
GenericName[ka]=ანბანის შესწავლა
GenericName[km]=រៀន​អក្ខរក្រម
GenericName[mk]=Учете азбука
GenericName[nb]=Lær alfabetet
GenericName[nds]=Alfabeet lehren
GenericName[ne]=वर्ण सिक्नुहोस्
GenericName[nl]=Leer het alfabet
GenericName[nn]=Lær alfabetet
GenericName[pa]=ਅੱਖਰ ਸਿੱਖੋ
GenericName[pl]=Nauka alfabetu
GenericName[pt]=Aprender o Alfabeto
GenericName[pt_BR]=Aprender o Alfabeto
GenericName[ru]=Изучение алфавита
GenericName[sl]=Učenje abecede
GenericName[sr]=Научите азбуку
GenericName[sr@latin]=Naučite azbuku
GenericName[sv]=Inlärning av alfabetet
GenericName[ta]=ஹாங்க்மேன் விளையாட்டு
GenericName[tg]=Омӯхтани Алифбо
GenericName[tr]=Alfabeyi Öğrenin
GenericName[uk]=Вивчення абетки
GenericName[x-test]=xxLearn Alphabetxx
GenericName[zh_TW]=學習字母
Categories=Qt;KDE;Education;Languages;
