# KDE Config File
[Desktop Entry]
Type=Application
Exec=klettres -caption %c %i
Icon=klettres
X-DocPath=klettres/index.html
Comment=a KDE program to learn the alphabet
Comment[ca]=Un programa del KDE per aprendre l'alfabet
Comment[cs]=KDE program pro výuku abecedy
Comment[de]=Ein KDE-Programm zum Erlernen des Alphabets
Comment[en_GB]=a KDE program to learn the alphabet
Comment[es]=Un programa de KDE para aprender el alfabeto
Comment[fi]=Ohjelma aakkosien harjoitteluun
Comment[fr]=Un programme KDE pour apprendre l'alphabet
Comment[it]=Un programma KDE per imparare l'alfabeto
Comment[nl]=Een KDE-programma waarmee het alfabet geleerd kan worden
Comment[pl]=Program do nauki alfabetu dla KDE
Comment[pt]=Um programa do KDE para aprender o alfabeto
Comment[pt_BR]=Um programa do KDE para aprender o alfabeto
Comment[sk]=KDE program pre výuku abecedy
Comment[uk]=Програма з вивчення абетки для KDE
Comment[x-test]=xxa KDE program to learn the alphabetxx
Terminal=false
Name=KLettres
Name[ca]=KLettres
Name[cs]=KLettres
Name[de]=KLettres
Name[en_GB]=KLettres
Name[es]=KLettres
Name[fi]=KLettres
Name[fr]=KLettres
Name[it]=KLettres
Name[nl]=KLettres
Name[pl]=KLettres
Name[pt]=KLettres
Name[pt_BR]=KLettres
Name[sk]=KLettres
Name[uk]=KLettres
Name[x-test]=xxKLettresxx
GenericName=Learn The Alphabet
GenericName[ca]=Apreneu l'alfabet
GenericName[cs]=Výuka abecedy
GenericName[de]=Lerne das Alphabet
GenericName[en_GB]=Learn The Alphabet
GenericName[es]=Aprender el alfabeto
GenericName[fi]=Opi aakkoset
GenericName[fr]=Apprentissage de l'alphabet
GenericName[it]=Impara l'alfabeto
GenericName[nl]=Leer het alfabet
GenericName[pl]=Nauka alfabetu
GenericName[pt]=Aprender o Alfabeto
GenericName[pt_BR]=Aprenda o alfabeto
GenericName[sk]=Výuka abecedy
GenericName[uk]=Вивчення абетки
GenericName[x-test]=xxLearn The Alphabetxx
Categories=Qt;KDE;Education;Languages;
X-DBUS-ServiceName=org.kde.kletters
